  .cla1 {
    color: #1900ff;
    font-weight: bold;
    /* Clase xd */
  }
  
  .cla2 {
    background-color: #ff0000;
    padding: 8px;
    /* Clase xd */
  }
  
  .cla3 {
    border: 6px solid #ff0000;
    /* Clase xd */
  }
  

  #experiencia {
    background-color: greenyellow;
    /* Selector de id, no se porque hago esto si nadie lo lee. */
  }
  
  #habilidades {
    background-color: #0099ffb6;
   /* Selector de id, no se porque hago esto si nadie lo lee. x2 */
  }
  

  h1 {
    color: #0000ff;
    font-size: 28px;
    text-align: center;
  }
  
  h2 {
    color: #000000;
    font-size: 24px;
  }
  
   /* Hasta tabla con css voy a poner, horrible me va a quedar
   pero el q tenga miedo a morir q no nazca dice el jonny. */

  ul li {
    margin-bottom: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #555;
  }
  
  form {
    margin-top: 20px;
    padding: 10px;
  }
  
  legend {
    font-weight: bold;
    text-align: center;
  }
  